.u-section-1 {background-image: url("images/limpieza1.jpg")}
.u-section-1 .u-sheet-1 {min-height: 428px}
.u-section-1 .u-text-1 {font-weight: 900; margin: 21px 699px 0 -78px}
.u-section-1 .u-image-1 {width: 487px; height: 239px; margin: 0 auto 10px -62px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 335px}
.u-section-1 .u-sheet-1 {min-height: 335px}
.u-section-1 .u-text-1 {width: 832px; margin-right: 297px; margin-left: -89px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {width: 720px; margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {width: 340px}
.u-section-1 .u-image-1 {width: 340px; height: 167px; margin-left: 0} }.u-section-2 {background-image: url("images/fondo.jpg"); background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 675px}
.u-section-2 .u-slider-1 {width: 473px; min-height: 500px; box-shadow: 9px 17px 26px 15px rgba(128,128,128,0.7); margin: 88px auto 0 25px}
.u-section-2 .u-carousel-indicators-1 {position: absolute; width: 72px; height: 3px; top: auto; bottom: -20px}
.u-section-2 .u-image-1 {background-image: url("images/ari.jpg"); background-position: 50% 50%; box-shadow: -2px 0 0 0 rgba(198,51,51,0)}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-carousel-control-1 {width: 45px; height: 45px; left: 0; position: absolute; right: auto}
.u-section-2 .u-carousel-control-2 {width: 45px; height: 45px; left: auto; position: absolute; right: 0}
.u-section-2 .u-text-1 {font-size: 1.25rem; text-transform: uppercase; background-image: none; margin: -401px 25px 0 713px}
.u-section-2 .u-text-2 {font-size: 1.5rem; font-weight: 700; margin: -343px 1px 0 685px}
.u-section-2 .u-social-icons-1 {height: 48px; min-height: 16px; width: 138px; min-width: 74px; white-space: nowrap; margin: 305px 176px 60px auto}
.u-section-2 .u-icon-1 {height: 100%}
.u-section-2 .u-icon-2 {height: 100%} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 557px}
.u-section-2 .u-slider-1 {height: auto}
.u-section-2 .u-text-1 {margin-right: 0; margin-left: 538px}
.u-section-2 .u-text-2 {margin-right: 0; margin-bottom: 60px; margin-left: 486px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 427px}
.u-section-2 .u-slider-1 {width: 366px; min-height: 493px}
.u-section-2 .u-text-1 {margin-left: 318px}
.u-section-2 .u-text-2 {margin-left: 266px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 320px}
.u-section-2 .u-slider-1 {margin-top: 476px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {margin-left: 138px}
.u-section-2 .u-text-2 {margin-left: 86px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 201px}
.u-section-2 .u-slider-1 {min-height: 387px; margin-top: 375px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {margin-left: 0}
.u-section-2 .u-text-2 {margin-left: 0} }.u-section-3 {background-image: url("images/fondo5.jpg"); background-position: 50% 50%}
.u-section-3 .u-sheet-1 {min-height: 675px}
.u-section-3 .u-slider-1 {width: 473px; min-height: 500px; box-shadow: 9px 17px 26px 15px rgba(128,128,128,0.7); margin: 88px auto 0 25px}
.u-section-3 .u-carousel-indicators-1 {position: absolute; width: 72px; height: 3px; top: auto; bottom: -20px}
.u-section-3 .u-image-1 {background-image: url("images/Deisy.jpg"); background-position: 50% 50%; box-shadow: -2px 0 0 0 rgba(198,51,51,0)}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-carousel-control-1 {width: 45px; height: 45px; left: 0; position: absolute; right: auto}
.u-section-3 .u-carousel-control-2 {width: 45px; height: 45px; left: auto; position: absolute; right: 0}
.u-section-3 .u-text-1 {font-size: 1.25rem; text-transform: uppercase; background-image: none; margin: -377px 25px 0 713px}
.u-section-3 .u-text-2 {font-size: 1.5rem; font-weight: 700; margin: -367px -50px 0 674px}
.u-section-3 .u-social-icons-1 {height: 48px; min-height: 16px; width: 138px; min-width: 74px; white-space: nowrap; margin: 305px 176px 60px auto}
.u-section-3 .u-icon-1 {height: 100%}
.u-section-3 .u-icon-2 {height: 100%} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 557px}
.u-section-3 .u-slider-1 {height: auto}
.u-section-3 .u-text-1 {margin-right: 0; margin-left: 538px}
.u-section-3 .u-text-2 {margin-left: 574px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 427px}
.u-section-3 .u-slider-1 {width: 366px; min-height: 493px}
.u-section-3 .u-text-1 {margin-left: 318px}
.u-section-3 .u-text-2 {margin-left: 464px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 320px}
.u-section-3 .u-slider-1 {margin-top: 476px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-1 {margin-left: 138px}
.u-section-3 .u-text-2 {margin-left: 374px}
.u-section-3 .u-social-icons-1 {margin-top: 365px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 201px}
.u-section-3 .u-slider-1 {min-height: 387px; margin-top: 375px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-1 {margin-left: 0}
.u-section-3 .u-text-2 {margin-left: 274px} }.u-section-4 {background-image: url("images/fondo3.webp"); background-position: 50% 50%}
.u-section-4 .u-sheet-1 {min-height: 675px}
.u-section-4 .u-slider-1 {width: 473px; min-height: 500px; box-shadow: 9px 17px 26px 15px rgba(128,128,128,0.7); margin: 88px auto 0 25px}
.u-section-4 .u-carousel-indicators-1 {position: absolute; width: 72px; height: 3px; top: auto; bottom: -20px}
.u-section-4 .u-image-1 {background-image: url("images/WhatsAppImage2020-09-19at12.10.43PM.jpeg"); background-position: 50% 50%; box-shadow: -2px 0 0 0 rgba(198,51,51,0)}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-carousel-control-1 {width: 45px; height: 45px; left: 0; position: absolute; right: auto}
.u-section-4 .u-carousel-control-2 {width: 45px; height: 45px; left: auto; position: absolute; right: 0}
.u-section-4 .u-text-1 {font-size: 1.25rem; text-transform: uppercase; background-image: none; margin: -377px 25px 0 713px}
.u-section-4 .u-text-2 {font-size: 1.5rem; font-weight: 700; margin: -367px -50px 0 674px}
.u-section-4 .u-social-icons-1 {height: 48px; min-height: 16px; width: 138px; min-width: 74px; white-space: nowrap; margin: 305px 176px 60px auto}
.u-section-4 .u-icon-1 {height: 100%}
.u-section-4 .u-icon-2 {height: 100%} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 557px}
.u-section-4 .u-slider-1 {height: auto}
.u-section-4 .u-text-1 {margin-right: 0; margin-left: 538px}
.u-section-4 .u-text-2 {margin-left: 574px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 427px}
.u-section-4 .u-slider-1 {width: 366px; min-height: 493px}
.u-section-4 .u-text-1 {margin-left: 318px}
.u-section-4 .u-text-2 {margin-left: 464px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 320px}
.u-section-4 .u-slider-1 {margin-top: 476px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-1 {margin-left: 138px}
.u-section-4 .u-text-2 {margin-left: 374px}
.u-section-4 .u-social-icons-1 {margin-top: 365px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 201px}
.u-section-4 .u-slider-1 {min-height: 387px; margin-top: 375px; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-text-1 {margin-left: 0}
.u-section-4 .u-text-2 {margin-left: 274px} }.u-section-5 {background-image: url("images/fondo2.jpg"); background-position: 50% 50%}
.u-section-5 .u-sheet-1 {min-height: 675px}
.u-section-5 .u-slider-1 {width: 473px; min-height: 500px; box-shadow: 9px 17px 26px 15px rgba(128,128,128,0.7); margin: 88px auto 0 25px}
.u-section-5 .u-carousel-indicators-1 {position: absolute; width: 72px; height: 3px; top: auto; bottom: -20px}
.u-section-5 .u-image-1 {background-image: url("images/WhatsAppImage2020-09-19at12.10.05PM.jpeg"); background-position: 50% 50%; box-shadow: -2px 0 0 0 rgba(198,51,51,0)}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-carousel-control-1 {width: 45px; height: 45px; left: 0; position: absolute; right: auto}
.u-section-5 .u-carousel-control-2 {width: 45px; height: 45px; left: auto; position: absolute; right: 0}
.u-section-5 .u-text-1 {font-size: 1.25rem; text-transform: uppercase; background-image: none; margin: -378px 25px 0 713px}
.u-section-5 .u-text-2 {font-size: 1.5rem; font-weight: 700; margin: -366px -50px 0 674px}
.u-section-5 .u-social-icons-1 {height: 48px; min-height: 16px; width: 48px; min-width: 16px; white-space: nowrap; margin: 313px 202px 60px auto}
.u-section-5 .u-icon-1 {height: 100%} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 557px}
.u-section-5 .u-slider-1 {height: auto}
.u-section-5 .u-text-1 {margin-right: 0; margin-left: 538px}
.u-section-5 .u-text-2 {margin-left: 574px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 427px}
.u-section-5 .u-slider-1 {width: 366px; min-height: 493px}
.u-section-5 .u-text-1 {margin-left: 318px}
.u-section-5 .u-text-2 {margin-left: 464px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 320px}
.u-section-5 .u-slider-1 {margin-top: 476px; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-1 {margin-left: 138px}
.u-section-5 .u-text-2 {margin-left: 374px}
.u-section-5 .u-social-icons-1 {margin-top: 365px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 201px}
.u-section-5 .u-slider-1 {min-height: 387px; margin-top: 375px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-1 {margin-left: 0}
.u-section-5 .u-text-2 {margin-left: 274px} }.u-section-6 {background-image: url("images/fondo4.webp"); background-position: 50% 50%}
.u-section-6 .u-sheet-1 {min-height: 620px}
.u-section-6 .u-text-1 {font-size: 1.25rem; text-transform: uppercase; background-image: none; margin: 210px 25px 0 713px}
.u-section-6 .u-text-2 {font-size: 1.5rem; font-weight: 700; margin: -366px -50px 0 674px}
.u-section-6 .u-social-icons-1 {height: 48px; min-height: 16px; width: 48px; min-width: 16px; white-space: nowrap; margin: 313px 202px 0 auto}
.u-section-6 .u-icon-1 {height: 100%}
.u-section-6 .u-image-1 {width: 570px; height: 388px; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: -436px auto 60px 44px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 511px}
.u-section-6 .u-text-1 {margin-right: 0; margin-left: 538px}
.u-section-6 .u-text-2 {margin-left: 574px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 391px}
.u-section-6 .u-text-1 {margin-left: 318px}
.u-section-6 .u-text-2 {margin-left: 464px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 320px}
.u-section-6 .u-text-1 {margin-top: 591px; margin-left: 138px}
.u-section-6 .u-text-2 {margin-left: 374px}
.u-section-6 .u-social-icons-1 {margin-top: 365px}
.u-section-6 .u-image-1 {width: 540px; height: 368px; margin-left: 0} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 201px}
.u-section-6 .u-text-1 {margin-top: 384px; margin-left: 0}
.u-section-6 .u-text-2 {margin-left: 274px}
.u-section-6 .u-image-1 {width: 340px; height: 232px} }