.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 454px}
.u-section-1 .u-list-1 {min-height: 315px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-template-rows: auto; grid-gap: 10px 10px; margin: 60px auto 60px 0}
.u-section-1 .u-list-item-1 {height: 410px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-1 {margin: 30px 0 0}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-image-1 {width: 290px; height: 171px; margin: 36px -3px 0 auto}
.u-section-1 .u-list-item-2 {height: 410px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-icon-2 {height: 64px; width: 64px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-2 {margin: 30px 0 0}
.u-section-1 .u-btn-2 {background-image: none; padding: 0}
.u-section-1 .u-image-2 {width: 290px; height: 171px; margin: 36px -3px 0 auto}
.u-section-1 .u-list-item-3 {height: 410px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-icon-3 {height: 64px; width: 64px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-3 {margin: 30px 0 0}
.u-section-1 .u-image-3 {width: 290px; height: 171px; margin: 36px -3px 0 auto} 

@media (max-width: 1199px){ .u-section-1 .u-list-1 {min-height: 259px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); height: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-list-1 {min-height: 595px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial} }.u-section-2 {background-image: linear-gradient(#eecb10, #43608e)}
.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin: 50px 0}
.u-section-2 .u-layout-cell-1 {min-height: 451px}
.u-section-2 .u-container-layout-1 {padding: 20px}
.u-section-2 .u-video-1 {box-shadow: 2px 2px 8px 0 rgba(128,128,128,1)}
.u-section-2 .u-layout-cell-2 {min-height: 401px}
.u-section-2 .u-container-layout-2 {padding: 20px 60px}
.u-section-2 .u-text-1 {font-size: 3rem; font-weight: 700; margin: 50px 0 0}
.u-section-2 .u-text-2 {margin: 8px -140px 0 -82px}
.u-section-2 .u-image-1 {width: 570px; height: 250px; margin: 0 -72px -24px} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-top: -442px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-2 {min-height: 451px}
.u-section-2 .u-container-layout-2 {padding-left: 49px; padding-right: 49px}
.u-section-2 .u-text-1 {margin-top: 120px}
.u-section-2 .u-text-2 {margin-top: 20px; margin-left: 0; margin-right: 0}
.u-section-2 .u-image-1 {height: 143px; margin: 242px 0 0} }

@media (max-width: 991px){ .u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-image-1 {height: 121px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 916px}
.u-section-2 .u-layout-wrap-1 {margin-top: -873px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {width: 540px; margin-top: 679px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 828px}
.u-section-2 .u-layout-wrap-1 {margin-top: -785px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {font-size: 1.5rem}
.u-section-2 .u-image-1 {width: 340px} }.u-section-3 {background-image: linear-gradient(#43608e, #e67b13)}
.u-section-3 .u-sheet-1 {min-height: 1782px}
.u-section-3 .u-image-1 {width: 704px; height: 1662px; margin: 14px auto 0 188px}
.u-section-3 .u-btn-1 {border-style: solid; font-weight: 700; text-transform: uppercase; background-image: linear-gradient(#e67b13, #43608e); margin: 36px auto 36px 421px} 

@media (max-width: 1199px){ .u-section-3 .u-btn-1 {margin-left: 221px; font-size: 1rem; padding: 0 32px 0 30px} }

@media (max-width: 991px){ .u-section-3 .u-image-1 {margin-left: 16px}
.u-section-3 .u-btn-1 {margin-left: 1px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-image-1 {width: 540px; height: 1275px; margin-left: 0}
.u-section-3 .u-btn-1 {margin-left: 0} }

@media (max-width: 575px){ .u-section-3 .u-image-1 {width: 340px; height: 803px} }.u-section-4 {background-image: linear-gradient(#e67b13, #dbda38)}
.u-section-4 .u-sheet-1 {min-height: 1734px}
.u-section-4 .u-layout-wrap-1 {pointer-events: auto; margin: 60px auto 0 0}
.u-section-4 .u-image-1 {min-height: 590px; pointer-events: auto; background-image: url("images/P1.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-1 {padding: 30px 60px}
.u-section-4 .u-layout-cell-2 {min-height: 590px; pointer-events: auto}
.u-section-4 .u-container-layout-2 {padding: 30px 60px}
.u-section-4 .u-text-1 {font-size: 3.75rem; margin: 74px -16px 0 16px}
.u-section-4 .u-text-2 {font-size: 1.125rem; margin: 31px 0 0}
.u-section-4 .u-layout-wrap-2 {margin: 60px auto 0 0}
.u-section-4 .u-layout-cell-3 {min-height: 424px}
.u-section-4 .u-container-layout-3 {padding: 30px 30px 29px}
.u-section-4 .u-image-2 {width: 264px; height: 182px; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: -16px auto 0}
.u-section-4 .u-text-3 {font-size: 1.5rem; font-weight: 700; margin: 16px auto 0 54px}
.u-section-4 .u-text-4 {margin: 20px 0 0 16px}
.u-section-4 .u-layout-cell-4 {min-height: 424px}
.u-section-4 .u-container-layout-4 {padding: 30px}
.u-section-4 .u-image-3 {width: 249px; height: 182px; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: -16px auto 0}
.u-section-4 .u-text-5 {font-size: 1.5rem; font-weight: 700; margin: 20px auto 0}
.u-section-4 .u-text-6 {margin: 8px 0 0}
.u-section-4 .u-layout-cell-5 {min-height: 424px}
.u-section-4 .u-container-layout-5 {padding: 30px}
.u-section-4 .u-image-4 {width: 212px; height: 182px; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: -16px auto 0}
.u-section-4 .u-text-7 {font-size: 1.5rem; font-weight: 700; margin: 20px auto 0}
.u-section-4 .u-text-8 {margin: 2px 0 0}
.u-section-4 .u-layout-wrap-3 {margin: 16px auto 0 0}
.u-section-4 .u-layout-cell-6 {min-height: 474px}
.u-section-4 .u-container-layout-6 {padding: 30px}
.u-section-4 .u-image-5 {height: 499px; margin: -55px -60px -30px auto}
.u-section-4 .u-layout-cell-7 {min-height: 474px}
.u-section-4 .u-container-layout-7 {padding: 30px}
.u-section-4 .u-image-6 {width: 540px; height: 499px; margin: -55px -30px -30px auto}
.u-section-4 .u-btn-1 {border-style: solid; font-weight: 700; text-transform: uppercase; background-image: linear-gradient(#dbda38, #43608e); margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 481px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {min-height: 486px}
.u-section-4 .u-layout-cell-2 {min-height: 486px}
.u-section-4 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-4 .u-layout-wrap-2 {position: relative; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-3 {min-height: 350px}
.u-section-4 .u-image-2 {width: 253px; height: 174px}
.u-section-4 .u-text-3 {margin-left: 43px}
.u-section-4 .u-text-4 {margin-left: 0}
.u-section-4 .u-layout-cell-4 {min-height: 350px}
.u-section-4 .u-image-3 {height: 181px}
.u-section-4 .u-layout-cell-5 {min-height: 350px}
.u-section-4 .u-layout-wrap-3 {position: relative; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-6 {min-height: 391px}
.u-section-4 .u-image-5 {height: 401px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-7 {min-height: 391px}
.u-section-4 .u-image-6 {width: 410px; height: 379px; margin-right: 0} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 367px}
.u-section-4 .u-image-1 {min-height: 372px}
.u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-image-2 {width: 180px; height: 124px}
.u-section-4 .u-text-3 {margin-left: 31px}
.u-section-4 .u-layout-cell-4 {min-height: 100px}
.u-section-4 .u-image-3 {width: 180px; height: 131px}
.u-section-4 .u-layout-cell-5 {min-height: 100px}
.u-section-4 .u-image-4 {width: 180px; height: 154px}
.u-section-4 .u-layout-cell-6 {min-height: 100px}
.u-section-4 .u-image-5 {height: 293px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-7 {min-height: 100px}
.u-section-4 .u-image-6 {width: 300px; height: 277px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 653px}
.u-section-4 .u-image-1 {min-height: 558px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-3 {margin-left: 90px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-5 {height: 508px; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-7 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 446px}
.u-section-4 .u-image-1 {min-height: 351px}
.u-section-4 .u-text-1 {font-size: 1.5rem}
.u-section-4 .u-text-3 {margin-left: 55px}
.u-section-4 .u-image-5 {height: 313px; margin-right: initial; margin-left: initial} }.u-section-5 {background-image: linear-gradient(#dbda38, #eecb10)}
.u-section-5 .u-sheet-1 {min-height: 129px}
.u-section-5 .u-btn-1 {border-style: solid; font-weight: 700; text-transform: uppercase; margin: 48px auto 32px} 

@media (max-width: 1199px){ .u-section-5 .u-btn-1 {padding: 0} }